/* html */
html {
  position: relative;
  min-height: 100%;
}

/* body */
body {
  color: white;
  background-color: #353a40;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  margin-bottom: 60px;
  overflow-y: scroll;
}

/* navbar */
.navbar {
  background-color: #1f1f1f;
  border-bottom: 1px solid white;
  min-height: 56px;
}

/* .navbar img {
    width: 90%;
} */

.navbar-nav a {
  font-style: italic;
  font-weight: 505;
  /* padding: 30px 0 0 25px; */
}

.nav-item a,
.nav-item a:link,
.nav-item a:visited,
.nav-item a:active {
  color: white !important;
}

.nav-item a:hover {
  color: #d3d3d3 !important;
  transform: translate(0, 1px);
}

.navbar-toggler {
  border-color: #1f1f1f !important;
  border-radius: 0;
}

/* .navbar-toggler-icon {
  background-image: url("../img/brand/navbar_collapse.png") !important;
} */

.dropdown-menu {
  color: white;
  background-color: #1f1f1f;
  border-radius: 0;
  border-color: white;
  z-index: 1001;
}

.dropdown-menu a:hover {
  background-color: #1f1f1f !important;
  color: #d3d3d3 !important;
}

/* TOC */
#toc {
  margin-top: 50px;
  margin-bottom: 5em;
}

#toc a {
  color: white;
  border-color: white;
}

#toc a:hover {
  color: #d3d3d3;
  border-color: #d3d3d3;
  transform: translate(0, 1px);
}

nav[data-toggle='toc'] {
  top: 42px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  /* nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  } */

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  /* nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  } */
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}

h2 {
	margin: 1em 0 0.5em 0;

	/* font-weight: normal; */
  font-weight: 505;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
  /*
	border-left: 5px solid #fff;
  border-right: 40px solid #fff;
  border-top: 1px solid #fff;
  */
  border-bottom: 1px solid #fff;
	/* padding: 5px 15px; */
	color: white;
	/* border-radius: 5px 0px 5px 0; */
  text-transform: uppercase;
	/* box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

h3 {
	margin: 1em 0 0.5em 0;
	font-weight: 500;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	/* text-transform: uppercase; */
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h4 {
	margin: 1em 0 0.5em 0;
	font-weight: 300;
	position: relative;
	font-size: 18px;
	line-height: 20px;
  text-decoration: underline;
}

h5 {
	margin: 1em 0 0.5em 0;
	position: relative;
	font-size: 1em;
	line-height: 12px;
  font-style: italic;
  text-decoration: underline;
}

/* Title */
.remt-title {
  margin-top: 50px;
  margin-bottom: 5em;
  text-align: center;
}

.remt-title-2 {
  margin-top: 50px;
  margin-bottom: 50px;;
}

.remt-title-2 hr {
  background-color: white;
}

.remt-title hr {
  background-color: white;
}

/* Fronpage Pic Links*/
.remt-frontpage-pic-links {
  text-align: center;
}

.remt-frontpage-pic-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.remt-frontpage-pic-link:hover {
  opacity: 0.6;
  transform: translate(0, 1%);
  box-shadow: 0px 1px 0px white;
}

/* Chapter */
.remt-chapter {
  margin-bottom: 2.5em;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  font: 0.8em/1.4em 'Lucida Sans', Tahoma, Verdana, Arial, sans-serif;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 1px solid white;
  background-color: #1f1f1f !important;
  color: #777;
}

footer a {
  color: #777;
}

footer a:hover {
  color: #616161;
}

/* Misc */
.remt-math-border {
  padding: 20px;
  border: 1px solid white;
}

.remt-note {
  font: 0.8em/1.4em 'Lucida Sans', Tahoma, Verdana, Arial, sans-serif;
  color: #777;
}

.remt-pic-explain img {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 98%;
  border: 1px solid white;
  /* box-shadow: 2px 4px #777; */
}

.remt-pic-explain figcaption {
  font: 0.8em/1.4em 'Lucida Sans', Tahoma, Verdana, Arial, sans-serif;
  color: rgb(199, 199, 199);
  margin: 0;
  padding: 0;
  text-align: center;
}

.remt-pic-explain:hover {
}

figcaption {
}

table {
}

table ul {
  padding-left: 10px;
}

/* .remt-table-desc h3 {
  font-style: italic;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-top: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 25px;
  font-size: 1.4em;
  box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
  margin-bottom: 20px;
  margin-bottom: 20px;
} */

.remt-table-desc {
  margin-top: 25px;
  margin-bottom: 25px;
}

.remt-table-desc-notes {
  padding: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  /* margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.txt-h1 {
  font-style: italic;
  border-left: 4px solid red;
  border-bottom: 1px solid red;
  padding-left: 3px;
}

.txt-h2 {
  font-style: italic;
  border-left: 4px solid grey;
  border-bottom: 1px solid grey;
  padding-left: 3px;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Test*/
.remt-bcr {
  background-color: red;
}

.remt-bcg {
  background-color: green;
}

.remt-bcb {
  background-color: blue;
}

.remt-bcy {
  background-color: yellow;
}
